body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
}
#header {
    width: 100%;
    min-height: 50px;
    background-color: #0060f0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: white;
    float: left;
}
#menu {
    width: 100%;
    background-color: #0030f0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    float: left;
}
#menu a:hover {
    background-color: #0080f0; 
}
#menu a {
    color: white;
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    border: 2px solid black;
    background-color: #0010a0; 
}
#footer {
    width: 100%;
    float: left;
    background-color: #0080f0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}
.footer {
    color: white;
    font-size: 16px;
    font-family: 'Courier-New';
    margin-block-start: 2px;
    margin-block-end: 2px;
}
.login {
    color: #0099FF;
}
.login:hover {
    color: #0055FF;
}
.title {
    color: #0099FF;
}
.title:hover {
    color: #0055FF;
}
.topic_main {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: solid 1px black;
    width: 100%;
    float: left;
}
.author {
    width: 20%;
    float: left;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topic_in .author, .topic_main .author, .tab2 .author {
    margin-top: 0px ;
    border: none ;
    padding: 0px;
}
.post_context {
    width: 79%;
    float: left;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topic_main .author {
    width: 20%;
    float: left;
}
.topic_main .topic_title {
    width: 70%;
    float: left;
}
.topic_main .posts_number {
    width: 10%;
    float: left;
}
.topic_in {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}
.topic_in .topic_title {
    width: 100%;
    float: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.topic_in .topic_title a {
    color: #ffc125;
}
.topic_in .author {
    width: 20%;
    float: left;
}
.topic_in .topic_context {
    width: 80%;
    float: left;
}
.tab {
    width: 100%;
    float: left;
}
.tab1 {
    width: 20%;
    float: left;
}
.tab2 {
    width: 70%;
    float: left;
}
.tab3 {
    width: 10%;
    float: left;
}
.profile_welcome {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.profile_data {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}